$maincolor:  #000;
$smallwidth: 15%;
$smallheight: 10%;
$largebreak: 1000px;
$smallbreak: 850px;
$bgmaincolor: #fff;
$bluecolor: #26A69A;
$largefont: 30px;
$smallfont: 20px;
$kurale: 'Kurale', serif;
$crimson: 'Crimson Text', serif;
$center: center;
$white: #fff;
@mixin padding($padding) {
    padding: $padding;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
	background-image: url("../../public/assets/imgs/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: $maincolor;
	}

.smallimg {
    width: $smallwidth;
    height: $smallheight;
    @media screen and (max-width: $largebreak) {
        float: left;
    }
    @media screen and (max-width: $smallbreak) {
        display: none;
        visibility: hidden;
    }
}

.mediumimg {
    width: 30%;
    height: 15%;
}

#profileimg {
    width: $smallwidth;
    height: $smallheight;
    border: 2px solid #999;
    @include border-radius(50%);
}
nav .nav-wrapper {
    background-color: $bgmaincolor;
    height: 120%;
    position: relative;
}

nav ul a {
    color: $maincolor;
}

p {
    color: $bluecolor;
    line-height: 24px;
    margin-top: 14px;
}

.kurale {
    font-family: $kurale;
    font-size: $largefont;
}

.crimson {
    font-family: $crimson;
    font-size: $smallfont;
}

.main {
    width: 100%;
    height: 100%;
}

#profile {
    width: 80%;
    height: 100%;
    background-color: $white;
}
#cellular {
    width: 230px;
    height: 400px;
    background-color: $maincolor;
    margin-top: 50px;
    margin-left: 50px;
    @include border-radius(15px);
}

#cellular-inside {
    width: 200px;
    height: 330px;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    @include border-radius(15px);
}

#homebutton {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    background-color: $maincolor;
    border: 2px solid #999;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.padding {
    padding-bottom: 10px;
}

// input[type=text]:not(.browser-default) {
//     // border: 1px solid #000;
//     height: 1.5em;
// }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: $bluecolor;   
    color: $white;
}

#aboutus {
    width: 80%;
    height: 100%;
    background-color: $white;
    margin-top: 90px;
    @include border-radius(3px);
}

h2 {
    font-size: 24px;
    color: $bluecolor;
    text-align: left;
    font-family: $crimson;
    margin-left: 10px;
}

.padding {
    @include padding(10px);
}

.paddingtwo {
    @include padding(30px);
}

.bodycontent {
    width: 650px;
    height: 400px;
    background-color: $white;
    margin-top: 50px;
    box-shadow: 5px 5px 15px #000;
}

.signupcontainer {
    width: 100%;
    height: 100%;
    background-color: $white;
    margin-top: 50px;
    box-shadow: 5px 5px 15px #000;
    padding: 15px;
    color: $bluecolor;
    @include border-radius(3px);
}

.headerbg {
    background-color: $bluecolor;
    width: 100%;
    height: 100%;
    color: $white;
}
.logincontainer {
    width: 30%;
    height: 30%;
    margin-top: 50px;
    background-color: $white;
    box-shadow: 5px 5px 15px #000;
    padding: 15px;
    @include border-radius(3px);
}

.donationcontainer {
    width: 50%;
    height: 100%;
    margin-top: 50px;
    background-color: $white;
    box-shadow: 5px 5px 15px #000;
    padding: 15px;
    @include border-radius(3px);
}

textarea.materialize-textarea {
    padding: 0;
}

.hidden {
    display: none;
    visibility: hidden;
}

.profilebg {
    background-color: $white;
    background-image: none;
}

a {
    color: #000;
}
.dollar::before {
    content: "$";
    padding: 0 5px;
    text-align: center;
}

.arima {
    font-family: 'Arima Madurai';
    font-size: 32px;
}

.textcolor1 {
    color: #A60461;
}

.textcolor2 {
    color: #584477;
}

.textcolor3 {
    color: #2C6485;
}

.purplearrow {
    background-color: #584477;
    font-size: 40px;
    color: $white;
    @include border-radius(20px);
}
